<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    tools:context=".MainActivity"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:orientation="vertical"
    android:background="@color/colorBackground">
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:layout_weight="1"
        android:orientation="horizontal">
        <TextView
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:textSize="32sp"
            android:text="0"
            android:paddingTop="32dp"
            android:paddingBottom="32dp"
            android:paddingLeft="8dp"
            android:paddingRight="8dp"
            android:textColor="@color/colorTextLabel"
            android:id="@+id/txtResult" />
    </LinearLayout>
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:orientation="horizontal"
        android:layout_weight="1">
        <Button
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:layout_margin="4dp"
            android:layout_weight="1"
            android:text="1"
            android:background="@color/colorNumberButton"
            android:textColor="@color/colorTextLabel"
            android:textSize="24sp"
            android:id="@+id/btnOne" />
        <Button
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:layout_margin="4dp"
            android:layout_weight="1"
            android:text="2"
            android:background="@color/colorNumberButton"
            android:textColor="@color/colorTextLabel"
            android:textSize="24sp"
            android:id="@+id/btnTwo" />
        <Button
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:layout_margin="4dp"
            android:layout_weight="1"
            android:text="3"
            android:background="@color/colorNumberButton"
            android:textColor="@color/colorTextLabel"
            android:textSize="24sp"
            android:id="@+id/btnThree" />
        <Button
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:layout_margin="4dp"
            android:layout_weight="1"
            android:text="+"
            android:background="@drawable/round_button"
            android:textColor="@color/colorTextLabel"
            android:textSize="24sp"
            android:id="@+id/btnPlus" />
    </LinearLayout>
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:orientation="horizontal"
        android:layout_weight="1">
        <Button
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:layout_margin="4dp"
            android:layout_weight="1"
            android:text="4"
            android:background="@color/colorNumberButton"
            android:textColor="@color/colorTextLabel"
            android:textSize="24sp"
            android:id="@+id/btnFour" />
        <Button
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:layout_margin="4dp"
            android:layout_weight="1"
            android:text="5"
            android:background="@color/colorNumberButton"
            android:textColor="@color/colorTextLabel"
            android:textSize="24sp"
            android:id="@+id/btnFive" />
        <Button
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:layout_margin="4dp"
            android:layout_weight="1"
            android:text="6"
            android:background="@color/colorNumberButton"
            android:textColor="@color/colorTextLabel"
            android:textSize="24sp"
            android:id="@+id/btnSix" />
        <Button
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:layout_margin="4dp"
            android:layout_weight="1"
            android:text="-"
            android:background="@drawable/round_button"
            android:textColor="@color/colorTextLabel"
            android:textSize="24sp"
            android:id="@+id/btnMinus" />
    </LinearLayout>
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:orientation="horizontal"
        android:layout_weight="1">
        <Button
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:layout_margin="4dp"
            android:layout_weight="1"
            android:text="7"
            android:background="@color/colorNumberButton"
            android:textColor="@color/colorTextLabel"
            android:textSize="24sp"
            android:id="@+id/btnSeven" />
        <Button
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:layout_margin="4dp"
            android:layout_weight="1"
            android:text="8"
            android:background="@color/colorNumberButton"
            android:textColor="@color/colorTextLabel"
            android:textSize="24sp"
            android:id="@+id/btnEight" />
        <Button
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:layout_margin="4dp"
            android:layout_weight="1"
            android:text="9"
            android:background="@color/colorNumberButton"
            android:textColor="@color/colorTextLabel"
            android:textSize="24sp"
            android:id="@+id/btnNine" />
        <Button
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:layout_margin="4dp"
            android:layout_weight="1"
            android:text="*"
            android:background="@drawable/round_button"
            android:textColor="@color/colorTextLabel"
            android:textSize="24sp"
            android:id="@+id/btnMultiple" />
    </LinearLayout>
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:orientation="horizontal"
        android:layout_weight="1">
        <Button
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:layout_margin="4dp"
            android:layout_weight="1"
            android:text="C"
            android:background="@color/colorCancel"
            android:textColor="@color/colorTextLabel"
            android:textSize="24sp"
            android:id="@+id/btnCancel" />
        <Button
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:layout_margin="4dp"
            android:layout_weight="1"
            android:text="0"
            android:background="@color/colorNumberButton"
            android:textColor="@color/colorTextLabel"
            android:textSize="24sp"
            android:id="@+id/btnZero" />
        <Button
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:layout_margin="4dp"
            android:layout_weight="1"
            android:text="="
            android:background="@drawable/round_button"
            android:textColor="@color/colorTextLabel"
            android:textSize="24sp"
            android:id="@+id/btnEquals" />
        <Button
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:layout_margin="4dp"
            android:layout_weight="1"
            android:text="/"
            android:background="@drawable/round_button"
            android:textColor="@color/colorTextLabel"
            android:textSize="24sp"
            android:id="@+id/btnDivide" />
    </LinearLayout>
</LinearLayout>