<?xml version="1.0" encoding="utf-8"?>

<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent">

  <TabHost
      android:layout_width="match_parent"
      android:layout_height="match_parent"
      android:id="@android:id/tabhost">

    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:orientation="vertical">

      <TabWidget
          android:layout_width="match_parent"
          android:layout_height="wrap_content"
          android:id="@android:id/tabs">
      </TabWidget>

      <FrameLayout
          android:layout_width="match_parent"
          android:layout_height="match_parent"
          android:id="@android:id/tabcontent">
        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/tab_one">
            <android.support.v7.widget.RecyclerView
              android:id="@+id/contacts_list_rep"
              android:scrollbars="vertical"
              android:layout_width="match_parent"
              android:layout_gravity="center"
              android:layout_height="match_parent" />
        </LinearLayout>

        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/tab_two">
          <android.support.v7.widget.RecyclerView
            android:id="@+id/contacts_list_emp"
            android:scrollbars="vertical"
            android:layout_width="match_parent"
            android:layout_gravity="center"
            android:layout_height="match_parent" />
        </LinearLayout>

        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/tab_three">
          <android.support.v7.widget.RecyclerView
            android:id="@+id/contacts_list_reb"
            android:scrollbars="vertical"
            android:layout_width="match_parent"
            android:layout_gravity="center"
            android:layout_height="match_parent" />
        </LinearLayout>

        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/tab_four">
          <android.support.v7.widget.RecyclerView
            android:id="@+id/contacts_list_fo"
            android:scrollbars="vertical"
            android:layout_width="match_parent"
            android:layout_gravity="center"
            android:layout_height="match_parent" />
        </LinearLayout>
        
      </FrameLayout>
    </LinearLayout>
  </TabHost>
</LinearLayout>






    
